%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/

= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'application'
#nav.topnav
  %ul
    #logo
      = image_tag 'foodhub1.png'
    %li
      %a
        %input{:placeholder => "Search..", :type => "text"}/
        %button{:type => "submit"}
          %i.fa.fa-search

        = link_to 'Home', root_path
        = link_to 'Chat', new_user_session_path
        = link_to 'Quiz', user_facebook_omniauth_authorize_path
        = link_to 'About', user_facebook_omniauth_authorize_path


      %a.icon{:href => "javascript:void(0);", :onclick => "myFunction()"}
        %i.fa.fa-bars
